In [121]:
import pandas as pd
import numpy as np

# Question 1

In [122]:
df = pd.read_csv('Periodic Elements.csv', delimiter = ',')
df

         Name Symbol  Atomic Number
0    Hydrogen      H              1
1      Helium     He              2
2     Lithium     Li              3
3  Berelliyum     Be              4
4       Boron      B              5
5      Carbon      C              6
6    Nitrogen      N              7
7      Oxygen      O              8

In [123]:
df_temp = pd.DataFrame({'Name':['Fluorine','Neon'],
                        'Symbol':['F','Ne'],
                        'Atomic Number':[9,10]}, index =[8,9])
atomic_elements = pd.concat([df, df_temp], axis=0)
#df.append(df_temp, ignore_index = True)
atomic_elements


##Adding another column to the dataframe
df_weight = pd.DataFrame({'Atomic Weight': [1.008,4.003,6.941,9.012,10.811,12.011,14.007,15.999,18.998,20.180]})
#rounding off to the nearest integer
df_weight = df_weight.round(decimals = 0)
atomic_elements = pd.concat([atomic_elements, df_weight], axis=1)
atomic_elements

         Name Symbol  Atomic Number  Atomic Weight
0    Hydrogen      H              1            1.0
1      Helium     He              2            4.0
2     Lithium     Li              3            7.0
3  Berelliyum     Be              4            9.0
4       Boron      B              5           11.0
5      Carbon      C              6           12.0
6    Nitrogen      N              7           14.0
7      Oxygen      O              8           16.0
8    Fluorine      F              9           19.0
9        Neon     Ne             10           20.0

# Question 2

In [124]:
greek_alphabets = ['beta', 'delta', 'alpha', 'gamma', 'theta', 'lambda', 'zeta', 'epsilon', 'pi']
#Two arrays with 9 random numbers with mean=10 and sd=1.5
first_array = list(np.random.normal(10, 1.5, 9))
second_array = list(np.random.normal(10, 1.5, 9))
#Third array 'angle' using np.linspace to create 9 evenly spaced numbers in the interval 0-2*pi
angle = list(np.linspace(0, 2*np.pi, 9))
#Fourth array having the cosine values of the array 'cosine'
cosine = list(np.cos(angle))

In [125]:
#Creating a dictionary:
#dictionary = dict(zip(greek_alphabets, first_array, second_array, angle, cosine))
temp_zip = zip(first_array, second_array, angle, cosine)
dictionary = dict(zip(greek_alphabets, temp_zip))
print(dictionary)

{'beta': (10.949736275868192, 8.169877142107932, 0.0, 1.0), 'delta': (10.00392209744082, 7.078183301130708, 0.7853981633974483, 0.7071067811865476), 'alpha': (11.011922260885688, 10.006536727365122, 1.5707963267948966, 6.123233995736766e-17), 'gamma': (9.544382085336071, 8.226922329626525, 2.356194490192345, -0.7071067811865475), 'theta': (8.719115436853588, 8.638136092595833, 3.141592653589793, -1.0), 'lambda': (10.946211410469607, 9.641320896264196, 3.9269908169872414, -0.7071067811865477), 'zeta': (7.455788915234077, 10.052127098096554, 4.71238898038469, -1.8369701987210297e-16), 'epsilon': (11.345415951448189, 10.188423802914768, 5.497787143782138, 0.7071067811865475), 'pi': (9.509208101538734, 12.52083375026315, 6.283185307179586, 1.0)}

In [126]:
#Dataframe from dictionary
dict_df = pd.DataFrame(dictionary)
print(dict_df)
print("\n\n\n\n")
dict_df = pd.DataFrame.from_dict(dictionary, orient = 'index')
print(dict_df)

        beta      delta         alpha     gamma     theta     lambda  \
0  10.949736  10.003922  1.101192e+01  9.544382  8.719115  10.946211
1   8.169877   7.078183  1.000654e+01  8.226922  8.638136   9.641321
2   0.000000   0.785398  1.570796e+00  2.356194  3.141593   3.926991
3   1.000000   0.707107  6.123234e-17 -0.707107 -1.000000  -0.707107

           zeta    epsilon         pi
0  7.455789e+00  11.345416   9.509208
1  1.005213e+01  10.188424  12.520834
2  4.712389e+00   5.497787   6.283185
3 -1.836970e-16   0.707107   1.000000





                 0          1         2             3
beta     10.949736   8.169877  0.000000  1.000000e+00
delta    10.003922   7.078183  0.785398  7.071068e-01
alpha    11.011922  10.006537  1.570796  6.123234e-17
gamma     9.544382   8.226922  2.356194 -7.071068e-01
theta     8.719115   8.638136  3.141593 -1.000000e+00
lambda   10.946211   9.641321  3.926991 -7.071068e-01
zeta      7.455789  10.052127  4.712389 -1.836970e-16
epsilon  11.345416  10.188424  5.497787  7.071068e-01
pi        9.509208  12.520834  6.283185  1.000000e+00

In [127]:
#Sorting in ascending order
dict_df = dict_df.sort_index()
print(dict_df)
print("\n\n\n\n")

#Two columns and one row dropped
dict_df = dict_df.drop(['lambda'], axis = 0)
dict_df = dict_df.drop([0,2], axis = 1)
print(dict_df)

                 0          1         2             3
alpha    11.011922  10.006537  1.570796  6.123234e-17
beta     10.949736   8.169877  0.000000  1.000000e+00
delta    10.003922   7.078183  0.785398  7.071068e-01
epsilon  11.345416  10.188424  5.497787  7.071068e-01
gamma     9.544382   8.226922  2.356194 -7.071068e-01
lambda   10.946211   9.641321  3.926991 -7.071068e-01
pi        9.509208  12.520834  6.283185  1.000000e+00
theta     8.719115   8.638136  3.141593 -1.000000e+00
zeta      7.455789  10.052127  4.712389 -1.836970e-16





                 1             3
alpha    10.006537  6.123234e-17
beta      8.169877  1.000000e+00
delta     7.078183  7.071068e-01
epsilon  10.188424  7.071068e-01
gamma     8.226922 -7.071068e-01
pi       12.520834  1.000000e+00
theta     8.638136 -1.000000e+00
zeta     10.052127 -1.836970e-16

# Question 3

In [128]:
def Fibonacci_generator(n):
    if n <= 1:
        return n
    else:
        return(Fibonacci_generator(n-1) + Fibonacci_generator(n-2))

terms = 12
fibonacci_list = []

if terms <= 0:
    print("Input should be greater than 0")
else:
    print("Fibonacci sequence:")
    for i in range(terms):
        fibonacci_list.append(Fibonacci_generator(i))
print(fibonacci_list)

#Iterating over the last 5 elements of the list:
temp_list = []
for i in range(terms-5,terms):
    temp_list.append(Fibonacci_generator(i)/Fibonacci_generator(i-1))
print(temp_list)
    
print("There's not much difference seen in the ratio. The Golden ratio's value is 1.618 - PHI. All the ratio values are more or less similar to the Golden Ratio value.")

Fibonacci sequence:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[1.625, 1.6153846153846154, 1.619047619047619, 1.6176470588235294, 1.6181818181818182]
There's not much difference seen in the ratio. The Golden ratio's value is 1.618 - PHI. All the ratio values are more or less similar to the Golden Ratio value.

# Quesiton 4 - Kelvin to Rankine

In [129]:
#Tr = Tk * (9/5)
def temp_convertor(n):
    rankine_temp = []
    for i in n:
        rankine_temp.append((9/5) * i)
    print(rankine_temp)

kelvin_temperatures = [4,13,56,32,20]
temp_convertor(kelvin_temperatures)

#Using lambda function:
a = lambda n: (9/5) * n

result = []
for i in kelvin_temperatures:
    result.append(a(i))
print(result)

[7.2, 23.400000000000002, 100.8, 57.6, 36.0]
[7.2, 23.400000000000002, 100.8, 57.6, 36.0]